@page "/Artistas"
@inject ArtistaApi artistaApi

<h3>Artista</h3>

@if(artistas is not null)
{
    <MudGrid>
    @foreach (var artista in artistas)
    {
        <MudItem xs="3">
            <CardArtista Artista="artista"/>
        </MudItem>
    }
    </MudGrid>
}

@code {
    private ICollection<ArtistaResponse>? artistas;

    protected override async Task OnInitializedAsync()
    {
        artistas = await artistaApi.GetArtistasAsync();
    }
}
